[tool.poetry]
name = "dhlab"
version = "0.0.0"  # Placeholder for the poetry-dynamic-versioning plugin
description = "Text and image analysis of the digital collection (books, newspapers, periodicals, and images) at the National Library of Norway"
authors = ["The Digital Humanities Lab at The National Library of Norway (NB) <dh-lab@nb.no>"]
license = "MIT"
readme = "README.md"
homepage = "https://www.nb.no/dh-lab/"
documentation = "https://dhlab.readthedocs.io/en/stable/"
repository = "https://github.com/NationalLibraryOfNorway/DHLAB"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
include = ["CHANGELOG.md", "LICENSE"]
exclude = ["docs/", "tests/"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/NationalLibraryOfNorway/DHLAB/issues"
"Changelog" = "https://github.com/NationalLibraryOfNorway/DHLAB/blob/main/CHANGELOG.md"
"Tutorials" = "https://nationallibraryofnorway.github.io/digital_tekstanalyse/tutorial.html"

[tool.poetry.dependencies]
python = "^3.9"
ipython = "^8.14.0"
matplotlib = "^3.7.2"
networkx = "^3.1"
pandas = "^2.0.3"
python-louvain = "^0.16"
requests = "^2.31.0"
seaborn = "^0.12.2"
scipy = { version = "^1.11.1", python = ">=3.9,<3.13" }

[tool.poetry.group.docs.dependencies]
Sphinx = "^7.1.2"
furo = "^2023.7.26"
myst-parser = "^2.0.0"
readthedocs-sphinx-search = "^0.3.1"
sphinx-copybutton = "^0.5.2"
sphinx-togglebutton = "^0.3.2"
sphinx_design = "^0.5.0"
sphinx_inline_tabs = "^2023.4.21"

[tool.poetry.group.dev.dependencies]
ipykernel = "^6.25.0"
pytest = "^7.4.0"
pytest-cov = "^4.0"
black = "^23.7.0"
isort = "^5.12.0"

[tool.poetry.group.test.dependencies]
mypy = "^1.4.1"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"

[tool.poetry-dynamic-versioning]
enable = true
bump  = true
format = "v{base}{stage}{revision}"

[tool.poetry-dynamic-versioning.substitution]
files = ["dhlab/_version.py"]

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.isort]
profile = "black"
