@import url(
http://fonts.googleapis.com/css?family=Lato|Source+Serif+Pro|Crimson+Text|Montserrat|Source+Code+Pro|Roboto:400,700);

/*
#notebook-container {
	-webkit-box-shadow: none;
	box-shadow: none;
}
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	line-height: 2em;
    color: DarkSlateGray;
    font-weight: 700;
}

h1 { font-size: 4.5em; }
h2 { font-size: 4em; color: black }
h3 { font-size: 3.5em; color:black }
h4 { font-size: 3em; color:black}
h5 { font-size: 2.5em; color:black}
h6 { font-size: 2em; }

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	line-height: 1.3em;
	font-weight: 400;
	color:DarkSlateGray;
}

.input_area {
	border:none;
	color: whitesmoke;
}

.CodeMirror {
	font-family: 'Source Code Pro', monospace;
	font-size: 0.9em;
	
}

