name: Check Code Quality and Performance
on:
  push:
    branches:
      - main
  pull_request:


jobs:
  linting:
    uses: NationalLibraryOfNorway/DHLAB/.github/workflows/lint.yml@21170cb90f80617ce0d7284e243d86c938622535
  testing:
    uses: NationalLibraryOfNorway/DHLAB/.github/workflows/test.yml@4816fe8ac924eb1542a0fd92942de87985becfaf
