name: Release

on:
  workflow_dispatch:
    inputs:
      version_bump_command: 
      description: 'Type of semantic version bump, see the poetry documentation for more info: https://python-poetry.org/docs/cli/#version'
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
          - premajor
          - preminor
          - prepatch
          - prerelease

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - -y

      - name: Update PATH
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Bump version 
        id: bump-version
        run: |
          poetry version ${{ inputs.version_bump_command }}

      - name: Log new version 
        id: new-version
        run: |
          echo "NEW_VERSION=$( poetry version --short )" >> "$GITHUB_ENV"
   
      - name: Create and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          default_bump: false
          default_prerelease_bump: false
          custom_tag: ${{ env.NEW_VERSION }} 
 
      - name: Build project for distribution
        run: |
          poetry build

      - name: Check Version
        id: check-version
        run: |
          [[ "$(poetry version --short)" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]] || echo prerelease=true >> $GITHUB_OUTPUT

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          draft: false
          prerelease: steps.check-version.outputs.prerelease == 'true'
          generateReleaseNotes: true
          allowUpdates: true

      - name: Publish to testPyPI
        env:
          POETRY_PYPI_TOKEN_TESTPYPI: ${{ secrets.TESTPYPI_API_TOKEN }}
        run: |
          poetry config repositories.testpypi https://test.pypi.org/legacy/
          poetry config repo
          echo "poetry publish -r testpypi"

      - name: Publish to Pypi
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          echo "poetry publish"
